@use "../../variables.scss" as *;

// Variables
// XXL
$xxl-h1-font-size: 4rem;
$xxl-h2-font-size: 2.5rem;
$xxl-h3-font-size: 1.5rem;
$xxl-p-font-size: 1.2rem;
$xxl-h2-margin: 3% 0;

// XL
$xl-h1-font-size: 3rem;
$xl-h3-font-size: 1.2rem;

// SM-MD
$sm-md-h2-font-size: 2.3rem;
$sm-md-h2-margin: 6% 0;
$sm-md-p-font-size: 0.9rem;

$sm-h2-font-size: 1.8rem;

// MD
$md-h1-font-size: 3rem;

// SM
$sm-h1-font-size: 2.2rem;
// Mixinx

// Common Styles

// Responsive Styles
@include media("xl", "xxl") {
    section {
        h1 {

        }
        h2 {
            font-size: $xxl-h2-font-size;
            margin: $xxl-h2-margin !important;
        }

        p, a {
            font-size: $xxl-p-font-size;
        }

        h3 {
            font-size: $xxl-h3-font-size;
        }
    }
}

@include media("lg", "xl") {
    h1 {
        font-size: $xl-h1-font-size;
    }
}
@include media("xxl") {
    h1 {
        font-size: $xxl-h1-font-size;
    }
}

@include media("sm", "md") {
    section {
        p, a {
            font-size: $sm-md-p-font-size;
        }

        h2 {
            margin: $sm-md-h2-margin;
        }
    }
}


@include media("lg") {
    section {
        h2 {
            font-size: $sm-md-h2-font-size;
            margin: $sm-md-h2-margin;
        }

        p, a {
            font-size: $sm-md-p-font-size;
        }

        h3 {
            font-size: $xl-h3-font-size;
        }
    }
}

@include media("md") {
    section {
        h1 {
            font-size: $md-h1-font-size;
        }
        h2 {
            font-size: $sm-md-h2-font-size;
        }
    }
}

@include media("sm") {
    section {
        h1 {
            font-size: $sm-h1-font-size;
        }

        h2 {
            font-size: $sm-h2-font-size;
        }
    }
}
