@use '../../variables.scss' as *;
@use 'Register.scss';

.rememberMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@include media('small-mobile', 'mobile') {
    .rememberMe {
        gap: 1.5vw;
    }

    #remember {
        transform: scale(1.5);
    }
}

@include media('desktop', 'tablet') {
    #remember {
        transform: scale(2);;
    }
}

@include media('tablet', 'desktop') {
    .rememberMe {
        gap: 1.5vh;
    }
}
