@use '../../variables.scss' as *;
@use 'Register.scss';

.rememberMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@include media('small-mobile') {
    .rememberMe {
        gap: 2vh;
    }
}

@include media('desktop', 'tablet') {
    #remember {
        transform: scale(2);;
    }
}

@include media('mobile', 'tablet', 'desktop') {
    .rememberMe {
        gap: 1.5vh;
    }
}
