@use '../../variables.scss' as *;

// Variables
$linkedin-openid-color: #0b67c2;
$github-color: #21292c;

// XXL
$xxl-input-height: 15px;
$xxl-input-width: 15px;
$xxl-border-radius: 3%;
$xxl-gap-size: 15px;
$xxl-social-gap-size: 10px;
$xxl-content-gap-size: 25px;
$xxl-label-font-size: 0.9rem;
$xxl-input-font-size: 1rem;
$xxl-form-radius: 10%;
$xxl-form-padding: 1.5%;
$xxl-input-border-radius: 10px;
$xxl-social-img-height: 20px;
$xxl-forms-padding: 3% 10%;
$xxl-options-font-size: 1.1rem;

// LG
$lg-input-height: 15px;
$lg-input-width: 10px;
$lg-border-radius: 2%;
$lg-gap-size: 10px;
$lg-social-gap-size: 15px;
$lg-content-gap-size: 25px;
$lg-label-font-size: 0.8rem;
$lg-input-font-size: 1rem;
$lg-form-radius: 10%;
$lg-form-padding: 4%;
$lg-input-border-radius: 10px;
$lg-social-img-height: 20px;
$lg-forms-padding: 5%;
$lg-options-font-size: 1rem;

// SM-MD
$sm-md-input-height: 10px;
$sm-md-input-width: 10px;
$sm-md-border-radius: 2%;
$sm-md-gap-size: 10px;
$sm-md-social-gap-size: 15px;
$sm-md-content-gap-size: 25px;
$sm-md-label-font-size: 0.5rem;
$sm-md-input-font-size: 0.8rem;
$sm-md-form-radius: 10%;
$sm-md-form-padding: 5%;
$sm-md-input-border-radius: 10px;
$sm-md-social-img-height: 15px;
$sm-md-forms-padding: 5%;
$sm-md-options-font-size: 0.9rem;

// Mixins

// Common Styles
.forms {
    display: flex;
    justify-content: center;

    form {
        background-color: $body-color-shade2;
        display: flex;
        flex-direction: column;
        width: 50%;

        .hide {
            display: none;
        }

        .content {
            display: flex;
            flex-direction: column;

            .name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
            }

            .names {
                display: flex;
            }
        }

        .social {
            display: flex;
        }

        .google {
            p {
                color: $text-color4;
            }

            &:hover p {
                color: white;
            }
        }

        .options, .checkbox {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        input {
            background-color: $body-color-shade3;
            border: 2px solid $body-color-shade3;
            outline: none;

            &::placeholder {
                color: $text-color3;
            }

            &:focus {
                border: 2px solid $primary-color;
            }
        }
    }
}

// Responsive Styles
@include media("xl", "xxl") {
    .forms {
        padding: $xxl-forms-padding;
        gap: 10%;

        .content, .names, .name {
            gap: $xxl-gap-size;
        }

        #login button {
            @include button($width: $xxl-input-width, $height: $xxl-input-height, $border-radius: $xxl-input-border-radius, $background-color: $primary-color-shade3);
        }

        #create button {
            @include button($width: $xxl-input-width, $height: $xxl-input-height, $border-radius: $xxl-input-border-radius, $background-color: $secondary-color);
        }

        form {
            border-radius: $xxl-border-radius;
            gap: $xxl-content-gap-size;
            padding: $xxl-form-padding;

            .social {
                gap: $xxl-social-gap-size;

                img {
                    max-height: $xxl-social-img-height;
                }
            }

            .google {
                @include button($width: $xxl-input-width, $height: $xxl-input-height, $border-radius: $xxl-input-border-radius, $background-color: ghostwhite, $color: black);
            }

            .github {
                @include button($width: $xxl-input-width, $height: $xxl-input-height, $border-radius: $xxl-input-border-radius, $background-color: $body-color-shade3);
            }

            .linkedin-openid {
                @include button($width: $xxl-input-width, $height: $xxl-input-height, $border-radius: $xxl-input-border-radius, $background-color: $linkedin-openid-color);
            }

            .content {
                .checkbox {
                    gap: $xxl-gap-size;
                }

                .options, .checkbox label, button {
                    font-size: $xxl-options-font-size;

                    a {
                        @include hover;
                    }
                }

                label {
                    font-size: $xxl-label-font-size;
                }

                input {
                    @include button($width: $xxl-input-width, $height: $xxl-input-height, $border-radius: $xxl-input-border-radius, $hover: false, $cursor: false, $background: false, $border: false);
                    font-size: $xxl-input-font-size;
                }

                input[type="checkbox"] {
                    width: $xxl-social-img-height;
                    height: $xxl-social-img-height;
                }
            }
        }
    }
}

@include media("sm", "md", "lg") {
    .forms {
        flex-direction: column;
        align-items: center;
    }
}

@include media("lg") {
    .forms {
        padding: $lg-forms-padding;
        gap: 35px;

        .content, .names, .name {
            gap: $lg-gap-size;
        }

        #login button {
            @include button($width: $lg-input-width, $height: $lg-input-height, $border-radius: $lg-input-border-radius, $background-color: $primary-color-shade3);
        }

        #create button {
            @include button($width: $lg-input-width, $height: $lg-input-height, $border-radius: $lg-input-border-radius, $background-color: $secondary-color);
        }

        form {
            border-radius: $lg-border-radius;
            gap: $lg-content-gap-size;
            padding: $lg-form-padding;

            .social {
                gap: $lg-social-gap-size;

                img {
                    max-height: $lg-social-img-height;
                }
            }

            .google {
                @include button($width: $lg-input-width, $height: $lg-input-height, $border-radius: $lg-input-border-radius, $background-color: ghostwhite, $color: black);
            }

            .github {
                @include button($width: $lg-input-width, $height: $lg-input-height, $border-radius: $lg-input-border-radius, $background-color: $body-color-shade3);
            }

            .linkedin-openid {
                @include button($width: $lg-input-width, $height: $lg-input-height, $border-radius: $lg-input-border-radius, $background-color: $linkedin-openid-color);
            }

            .content {
                .checkbox {
                    gap: $lg-gap-size;
                }

                .options, .checkbox label, button {
                    font-size: $lg-options-font-size;
                }

                label {
                    font-size: $lg-label-font-size;
                }

                input {
                    @include button($width: $lg-input-width, $height: $lg-input-height, $border-radius: $lg-input-border-radius, $hover: false, $cursor: false, $background: false, $border: false);
                    font-size: $lg-input-font-size;
                }

                input[type="checkbox"] {
                    width: $lg-social-img-height;
                    height: $lg-social-img-height;
                }
            }
        }
    }
}

@include media("sm") {
    .forms form {
        width: 70%;
    }
}

@include media("sm", "md") {
    .forms {
        padding: $sm-md-forms-padding;
        gap: 35px;

        .content, .names, .name {
            gap: $sm-md-gap-size;
        }

        #login button {
            @include button($width: $sm-md-input-width, $height: $sm-md-input-height, $border-radius: $sm-md-input-border-radius, $background-color: $primary-color-shade3);
        }

        #create button {
            @include button($width: $sm-md-input-width, $height: $sm-md-input-height, $border-radius: $sm-md-input-border-radius, $background-color: $secondary-color);
        }

        form {
            border-radius: $sm-md-border-radius;
            gap: $sm-md-content-gap-size;
            padding: $sm-md-form-padding;

            .social {
                gap: $sm-md-social-gap-size;

                img {
                    max-height: $sm-md-social-img-height;
                }
            }

            .google {
                @include button($width: $sm-md-input-width, $height: $sm-md-input-height, $border-radius: $sm-md-input-border-radius, $background-color: ghostwhite, $color: black);
            }

            .github {
                @include button($width: $sm-md-input-width, $height: $sm-md-input-height, $border-radius: $sm-md-input-border-radius, $background-color: $body-color-shade3);
            }

            .linkedin-openid {
                @include button($width: $sm-md-input-width, $height: $sm-md-input-height, $border-radius: $sm-md-input-border-radius, $background-color: #0b67c2);
            }

            .content {
                .checkbox {
                    gap: 5px;
                }

                .options, .checkbox label, button {
                    font-size: 0.8rem;
                }

                label {
                    font-size: 0.8rem;
                }

                .names {
                    flex-direction: column;

                    .name {
                        width: 100%;
                    }
                }

                input {
                    @include button($width: 10px, $height: $sm-md-input-height, $border-radius: $sm-md-input-border-radius, $hover: false, $cursor: false, $background: false, $border: false);
                    font-size: $sm-md-input-font-size;
                }

                input[type="checkbox"] {
                    width: $sm-md-social-img-height;
                    height: $sm-md-social-img-height;
                }
            }
        }
    }
}
