@use 'Register.scss' as *;
@use '../../variables.scss' as *;

// Variables
// XXL
$xxl-model-padding: 3%;
$xxl-model-radius: 30px;

// LG
$lg-model-padding: 3%;
$lg-model-radius: 20px;

// SM-MD
$sm-model-padding: 4%;
$sm-model-radius: 15px;

// Mixins

// Common Styles
.content {
    display: flex;
    justify-content: center;
    text-align: center;

    .model {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $body-color-shade2;
        width: 50%;

        h3 {
            font-weight: normal;
        }

        button {
            width: 50%;
        }
    }
}

// Responsive Styles
@include media("xl", "xxl") {
    .content {
        padding: $xxl-forms-padding;

        .model {
            padding: $xxl-model-padding;
            gap: $xxl-gap-size;
            border-radius: $xxl-model-radius;

            button {
                @include button($width: $xxl-input-width, $height: $xxl-input-height, $border-radius: $xxl-input-border-radius, $background-color: $primary-color-shade3);
                font-size: $xxl-input-font-size;
            }
        }
    }
}

@include media("lg") {
    .content {
        padding: $lg-forms-padding;

        .model {
            padding: $lg-model-padding;
            gap: $lg-gap-size;
            border-radius: $lg-model-radius;

            button {
                @include button($width: $lg-input-width, $height: $lg-input-height, $border-radius: $lg-input-border-radius, $background-color: $primary-color-shade3);
                font-size: $lg-input-font-size;
            }
        }
    }
}

@include media("sm", "md") {
    .content {
        padding: $sm-md-forms-padding;

        .model {
            padding: $sm-model-padding;
            gap: $sm-md-gap-size;
            border-radius: $sm-model-radius;

            button {
                @include button($width: $sm-md-input-width, $height: $sm-md-input-height, $border-radius: $sm-md-input-border-radius, $background-color: $primary-color-shade3);
                font-size: $sm-md-input-font-size;
            }
        }
    }
}
