$font: 'Inter Variable', sans-serif;
$primary_color: #3D35D6;
$font-size: 16px;

$xsm: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;

$background-color1: #030304;
$background-color2: #09090C;
$background-color3: #0F0F13;