// Fonts
$font: 'Inter Variable', sans-serif;
$font-size: 16px;

// Primary colors
$primary_color1: #3d35d6;
$primary-color2: #030304;

// Secondary colors
$secondary-color1: #17171c;

// Breakpoints
$xsm: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
