$font: 'Inter Variable', sans-serif;
$primary_color: #3d35d6;
$font-size: 16px;

$xsm: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;

$background-color1: #030304;
$background-color2: #09090c;
$background-color3: #0f0f13;
