@use 'variables' as *;
@use 'normalize.css';

// Common
:root {
    font-family: $font-family;
    background-color: $body-color;
    color: white;
    min-width: $min-website-width;
    scroll-behavior: smooth;
}

html {
    min-width: $min-website-width;
    scroll-behavior: smooth;
}

body {
    overflow-anchor: none;
}

a {
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    color: $text-color;
}
