@use 'variables' as *;

// Common
:root {
    font-family: $font-family;
    background-color: $primary-color;
    color: white;
}

html {
    min-width: $min-website-width;
}

a {
    text-decoration:none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

// Responsive styles

@include media('small-mobile', 'mobile') {
    :root {
        padding: 25px;
    }
}

@include media('tablet', 'desktop') {
    :root {
        padding: 30px;
    }
}
