@use 'sass:map';
@use 'sass:meta';

// Colors
$primary-color: #0C0C13;
$primary-color2: #373747;

$secondary-color: #22AFF0;
$secondary-color2: #066E9D;

// Fonts
$font-family: "Inter", sans-serif;


// Breakpoints
$min-website-width: 300px;

$breakpoints: (
  'mobile' : "(min-width: #{$min-website-width}) and (max-width: 766px)",
    'tablet' : "(min-width: 767px) and (max-width: 991px)",
    'desktop' : "(min-width: 992px)",
);


@mixin media($breakpoint) {
    @media screen and #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}
