@use 'sass:map';
@use 'sass:meta';

// Colors
$primary-color: #00BCD4;
$primary-color-shade1: #00ACC1;
$primary-color2: #8E24AA;

$body-color-shade2: #1e2936;
$body-color: #101826;
$text-color: #fefeff;

// Fonts
$font-family: 'Inter', sans-serif;

// Breakpoints
$min-website-width: 0px;

$breakpoints: (
    "sm": "(min-width: #{$min-website-width}) and (max-width: 575px)",
    "md": "(min-width: 576px) and (max-width: 767px)",
    "lg": "(min-width: 768px) and (max-width: 991px)",
    "xl": "(min-width: 992px) and (max-width: 1199px)",
    "xxl": "(min-width: 1200px)"
);

$default-padding-dimensions: (
    "sm": 2% 9%,
    "lg": 1% 6%,
    "xxl": 0.5% 5%
);

// Mixins
@mixin media($points...) {
    @each $breakpoint in $points {
        @media screen and #{map.get($breakpoints, $breakpoint)} {
            @content;
        }
    }
}

@mixin default-padding($size, $disable-top-bottom: false, $disable-right-left: false) {
    padding: map.get($default-padding-dimensions, $size);

    @if $disable-right-left {
        padding-top: 0;
        padding-bottom: 0;
    }

    @if $disable-top-bottom {
        padding-right: 0;
        padding-left: 0;
    }
}

@mixin hover {
    transition: color 0.4s;

    &:hover {
        color: $primary-color-shade1;
    }
}

@mixin button($width: 15px, $height:8px, $border-radius: 10px, $background-color: $primary-color2, $color: white) {
    border: 4px solid $background-color;
    border-radius: $border-radius;
    padding: $height $width;
    background-color: $background-color;
    color: $color;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        background-color: transparent;
    }
}

