@use '../variables' as *;

// Common
h1, h2 {
    text-decoration-skip-ink: none;
}

// Responsive styles
@include media('mobile-small', 'mobile') {
    :root {
        padding: $mobile-small-padding;
    }

    h1, h2 {
        text-decoration: underline solid 2px $secondary-color;
        margin: 10px 0 5px;
        font-size: 1.5rem;
    }
}

@include media('tablet') {
    :root {
        padding: $tablet-padding;
    }

    h1, h2 {
        text-decoration: underline solid 3px $secondary-color;
        margin: 15px 0 8px;
        font-size: 1.5rem;
    }
}

@include media('desktop') {
    :root {
        padding: $desktop-padding;
    }

    h1, h2 {
        text-decoration: underline solid 4px $secondary-color;
        margin: 20px 0 10px;
        font-size: 1.7rem;
    }
}

