@use '../variables.scss' as *;

// Mixins

// Variables
// XXL
$xxl-h1-font-size: 4rem;
$xxl-h2-font-size: 1.5rem;

$xxl-max-width: 50%;
$xxl-padding-top: 5%;
$xxl-margin: 1% 0;

// XL
$xl-h1-font-size: 3rem;
$xl-h2-font-size: 1.25rem;

$xl-max-width: 60%;
$xl-margin: 2% 0;

// LG
$lg-max-width: 70%;

// SM-MD
$sm-md-max-width: 90%;
$sm-md-margin: 4% 0;

// MD
$md-h1-font-size: 3rem;
$md-h2-font-size: 1.4rem;

// SM
$sm-h1-font-size: 2.2rem;
$sm-h2-font-size: 1rem;

// Common Styles
nav {
    border-bottom: 3px solid $body-color-shade2;
}

.text {
    h1 > span {
        background-image: linear-gradient(to right, $primary-color, $primary-color2);
        color: transparent;
        background-clip: text;
    }

    h1 {
        text-wrap: nowrap;
    }

    h2 {
        color: $text-color2;
    }
}

// Responsive Styles
@include media("sm", "md", "lg", "xl", "xxl") {
    .text {
        padding-top: $xxl-padding-top !important;
    }
}

@include media("lg", "xl") {
    .text {
        @include default-padding("lg", false, true);

        h1 {
            font-size: $xl-h1-font-size;
        }

        h2 {
            font-size: $xl-h2-font-size;
            margin: $xl-margin;
        }
    }
}

@include media("sm", "md") {
    .text {
        @include default-padding("sm", false, true);

        h2 {
            margin: $sm-md-margin;
        }

        h1, h2 {
            max-width: $sm-md-max-width;
        }
    }
}

@include media("xxl") {
    .text {
        @include default-padding("xxl", false, true);

        h1 {
            font-size: $xxl-h1-font-size;
        }

        h2 {
            font-size: $xxl-h2-font-size;
            margin: $xxl-margin;
        }

        h1, h2 {
            max-width: $xxl-max-width;
        }
    }
}

@include media('xl') {
    .text {
        h1, h2 {
            max-width: $xl-max-width;
        }
    }
}

@include media("lg") {
    .text {
        h1, h2 {
            max-width: $lg-max-width;
        }
    }
}

@include media("md") {
    .text {
        h1 {
            font-size: $md-h1-font-size;
        }

        h2 {
            font-size: $md-h2-font-size;
        }
    }
}

@include media("sm") {
    .text {
        h1 {
            font-size: $sm-h1-font-size;
        }

        h2 {
            font-size: $sm-h2-font-size;
        }
    }
}

