@use '../variables.scss' as *;

// Common styles
#tiers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    gap: 5vw;

    a {
        @include secondaryButton;
    }
}

// Responsive styles
@include media('small-mobile') {
    #tiers {
        flex-direction: column;
    }
}

@include media('desktop') {
    #tiers {
        gap: 5vw;
    }
}
