@use '../variables.scss' as *;

// Common

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 5vh;
  align-items: center;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  font-weight: normal;
}

// Responsive styles
@include media('small-mobile', 'mobile') {
  hr {
    margin: 5vh 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 5vh;
    text-decoration: underline 3px solid $secondary-color;
    text-decoration-skip-ink: none;
  }
}

@include media('tablet', 'desktop') {
  hr {
    margin: 5vh 0;
  }
  h2 {
    font-size: 1.8rem;
    margin: 8vh;
    text-decoration: underline 5px solid $secondary-color;
    text-decoration-skip-ink: none;
  }
}
