@use '../variables.scss' as *;

// Common styles
.info {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  .img {
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 100%;
    background-color: $primary-color3;
  }


  .links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    .back-link {
      @include secondaryButton;
    }

    a {
      @include button;
    }
  }

  div {
    display: flex;
    flex-direction: column;
  }
}

// Responsive styles
@include media('small-mobile', 'mobile') {
  .info {
    gap: 3vh;

    h1 {
      font-size: 1.5rem;
    }

    .img {
      height: 35vh;
      border-radius: 20px;
    }

    .links {
      .back-link {
        @include secondaryButton(5px, 10px, 10px);
      }

      a {
        @include button(5px, 10px, 10px);
      }
    }

    .content {
      gap: 2vh;

      h2 {
        font-size: 1.2rem;
        text-decoration: 3px solid underline $secondary-color;
        text-decoration-skip-ink: none;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}

@include media('mobile') {
  .info {
    .img {
      height: 35vh;
    }
  }
}

@include media('tablet') {
  .info {
    gap: 4vh;

    h1 {
      font-size: 2rem;
    }

    .img {
      height: 40vh;
      border-radius: 30px;
    }

    .content {
      gap: 4vh;

      h2 {
        font-size: 1.5rem;
        text-decoration: 4px solid underline $secondary-color;
        text-decoration-skip-ink: none;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@include media('desktop') {
  .info {
    gap: 5vh;

    h1 {
      font-size: 2.5rem;
    }

    .img {
      height: 50vh;
      border-radius: 40px;
    }

    .content {
      gap: 2vh;

      h2 {
        font-size: 2rem;
        text-decoration: 5px solid underline $secondary-color;
        text-decoration-skip-ink: none;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}
