@use '../../styles/variables.scss' as *;

$xsm-logo-size: 30px;
$xsm-hamburger-width: calc($xsm-logo-size * 0.6);
$xsm-hamburger-height: calc($xsm-logo-size * 0.5);

$xsm-sm-font-size: 0.8rem;
$xsm-sm-logo-size: calc($xsm-logo-size + 5px);

.header-logo {
  height: auto;
}

#mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;

    transition: all 0.3s ease-in-out;

    .burger {
      background-color: white;
    }
  }

  .links {
    position: absolute;
    display: none;
    list-style-type: none;
    background-color: $secondary-color1;
    z-index: 9;

    li {
      a {
        color: white;
        text-decoration: none;
      }

      &.active {
        color: white;
        font-weight: bolder;
      }

      :hover {
        color: $primary-color1;
      }
    }
  }

  .open {
    display: flex;
    flex-direction: column;
    color: white;
  }
}

#desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: $xsm) {
  #mobile-nav {
    padding: 1rem;

    .hamburger {
      width: $xsm-hamburger-width;
      height: $xsm-hamburger-height;

      .burger {
        height: 2px;
      }
    }

    .links {
      top: 1.2rem;
      right: 0.4rem;
      border-radius: 0.6rem;
      padding: 2.5rem 0 1.5rem;

      li {
        padding: 0.2rem 1rem;
      }
    }
  }

  .header-logo {
    width: $xsm-logo-size;
  }
}