@use '../variables.scss' as *;

// Mixins

// Variables
// XXL
$xxl-h3: 1.6rem;
$xxl-h4: 1.2rem;
$xxl-margin-top: 5%;
$xxl-content-padding: 3%;
$xxl-copyright: 1.5% 0;
$xxl-gap: 15px;

// LG
$lg-h3: 1.2rem;
$lg-h4: 1rem;
$lg-margin-top: 8%;
$lg-content-padding: 5%;
$lg-copyright: 5%;
$lg-gap: 10px;

// SM-MD
$sm-md-h3: 1rem;
$sm-md-h4: 0.9rem;
$sm-md-margin-top: 8%;
$sm-md-content-padding: 5%;
$sm-md-copyright: 5%;
$sm-md-gap: 10px;

// SM
$sm-gap: 25px;

// Common Styles
footer {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        justify-content: space-between;
        border-top: 3px solid $body-color-shade2;
        border-bottom: 3px solid $body-color-shade2;

        .gradient {
            width: fit-content;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to right, $primary-color, $primary-color-shade5);
        }

        .quick, .connect, .contact, .item {
            display: flex;
            flex-direction: column;
        }

        .contact span, .icons {
            display: flex;
        }
    }


    span, p, h4, span > h3, a {
        color: $text-color3;
    }

    a {
        @include hover();
    }

    h4 {
        font-weight: normal;
    }

    .copyright {
        text-align: center;
    }
}

// Responsive Styles

@include media("xl", "xxl") {
    footer {
        margin-top: $xxl-margin-top;

        h3, h2 {
            font-size: $xxl-h3;
        }

        h4, p {
            font-size: $xxl-h4;
        }

        .content {
            @include default-padding("xxl", true);
            padding-top: $xxl-content-padding;
            padding-bottom: $xxl-content-padding;

            .quick, .contact, .contact > span, .connect, .icons, .item {
                gap: $xxl-gap;
            }
        }

        .copyright {
            margin: $xxl-copyright;
        }
    }
}

@include media("lg") {
    footer {
        margin-top: $lg-margin-top;

        h3, h2 {
            font-size: $lg-h3;
        }

        h4, p {
            font-size: $lg-h4;
        }

        .content {
            @include default-padding("lg", true);
            padding-top: $lg-content-padding;
            padding-bottom: $lg-content-padding;

            .quick, .contact, .contact > span, .connect, .icons, .item {
                gap: $lg-gap;
            }

            .item {
                max-width: 20%;
            }
        }

        .copyright {
            margin: $lg-copyright;
        }
    }
}

@include media("sm", "md") {
    footer {
        margin-top: $sm-md-margin-top;

        h3, h2 {
            font-size: $sm-md-h3;
        }

        h4, p {
            font-size: $sm-md-h4;
        }

        .content {
            @include default-padding("sm", true);
            padding-top: $sm-md-content-padding;
            padding-bottom: $sm-md-content-padding;
            justify-content: space-evenly;

            .quick, .contact, .contact > span, .connect, .icons, .item {
                gap: $sm-md-gap;
            }

            .icons {
                justify-content: center;
            }
        }

        .copyright {
            margin: $sm-md-copyright;
        }
    }
}

@include media("xl") {
    .item {
        max-width: 20%;
    }
}

@include media("xxl") {
    .item {
        max-width: 18%;
    }
}

@include media("md") {
    .item {
        max-width: 25%;
    }

    .content {
        gap: $sm-md-gap;
    }
}

@include media("sm") {
    .content {
        flex-wrap: wrap;
    }
    .item {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .gap, .content {
        gap: $sm-gap;
    }
}
