@use '../variables.scss' as *;

// Common styles
.card {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    background-color: $primary-color2;

    h2, p, a {
        width: fit-content;
    }

    .content {
        display: flex;
        flex-direction: column;

        .features {
            list-style-type: disc;
            list-style-position: inside;
        }
    }

    a {
        @include secondaryButton;
    }
}

// Responsive styles
@include media('small-mobile', 'mobile') {
    .card, .content {
        gap: 1.5vh;
    }

    .card {
        padding: 20px 30px;
        border-radius: 20px;

        h2 {
            font-size: 1rem;
        }

        h3 {
            font-size: 0.8rem;
        }

        p, a, strong, li {
            font-size: 0.7rem;
        }

        a {
            @include secondaryButton(5px, 10px, 10px, 2px);
        }
    }
}

@include media('small-mobile') {
    .card {
        max-width: 42vw;
    }
}

@include media('mobile') {
    .card {
        max-width: 30vw;
    }
}

@include media('tablet', 'desktop') {
    .card, .content {
        gap: 1.5vh;
    }

    .card {
        padding: 30px 40px;
        border-radius: 30px;

        h2 {
            font-size: 1.7rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        p, a, strong, li {
            font-size: 1.2rem;
        }

        a {
            @include secondaryButton(10px, 20px, 15px, 3px);
        }
    }
}

@include media('tablet') {
    .card {
        max-width: 35vw;
    }
}

@include media('desktop') {
    .card {
        max-width: 25vw;
    }
}

